<div class="sidebar">
    <div class="logo">
        Madar Analyzer
    </div>
    <ul>
        <li>
            <a href="/dashboard">
                <i class="fa fa-home"></i>
                داشبورد
            </a>
        </li>
        <li>
            <a href="/dashboard/organizations">
                <i class="fa fa-building"></i>
                سازمان‌ها
            </a>
        </li>
        <li>
            <a href="/dashboard/channels">
                <i class="fa fa-bullhorn"></i>
                کانال‌ها
            </a>
        </li>
        <li>
            <a href="/dashboard/posts">
                <i class="fa fa-file"></i>
                پست‌ها
            </a>
        </li>
        <li>
            <a href="/users">
                <i class="fa fa-users"></i>
                کاربران
            </a>
        </li>
        <li>
            <a href="/auth/logout">
                <i class="fa fa-sign-out"></i>
                خروج
            </a>
        </li>
    </ul>
</div>
